.fa-facebook-f
{
    color:#3b5998;
}
.fa-google-plus-g
{
    color:#b23121;
}
.fa-linkedin-in
{
    color:#0e76a8;
}
.fa-twitter
{
    color:#00acee;
}
.fa-facebook-f:hover
{
    transform: scale(1.2);
}
.fa-linkedin-in:hover
{
    transform: scale(1.2);
}

.fa-google-plus-g:hover
{
    transform: scale(1.2);
}

.fa-twitter:hover
{
    transform: scale(1.2);
}
.fa-map-marker-alt
{
    color:#b23121;
}
footer
{
    background-color:rgba(0,0,0,0.85);
    color:rgb(255,255,255);
}
hr
{
    border-color:rgb(255,255,255);
}
.carousel-inner
{
    height:420px;
}
.fa-envelope-open-text
{
color:rgb(255,255,255);
}
.fa-phone
{
    color:#008000;
}
.espace
{
    margin:4px;
}
.navbar
{
    background-color:rgba(0,0,0,0.85);
}
.customdiv
{
    background-color:#E3E3E3;
    padding: 25px;
}
.customdiv2
{
    background-color:#ffffff;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:1px;
    margin-left: -3px;
    margin-right: -3px;

}
.custom-top
{
    padding-left:5px;
    padding-right:5px;
    margin-left: -4px;
    margin-right: -4px;
}
.hrdark
{
   border-color:#000000;
    border-width:3px;
    margin-left: -4px;
    margin-right: -4px;
}
.form-inline > * {
    margin:15px 3px !important;
}
.fa-info-circle
{
    color:#2D9ADC ;
}
